<div class="home-wrap">
  <div class="container">
    <div class="row">
      <div class="col-8 bgc">
        <div class="tags">

        </div>
        <div class=".container">
          <div class="row">
            <div class="text col-10">
              <div class="author">
                <img src="" alt="Avatar">
                <a href="#">Max</a>
              </div>

              <a href="#">
                <div class="tagline">
                  Повышаем продуктивность с Редактором AdWords: 8 причин использовать инструмент
                </div>
              </a>
              <div class="desc">
                Как быстро создавать и редактировать кампании, группы объявлений и ключевые слова с Редактором AdWords.
              </div>
            </div>
            <div class="image col-2">
              <img class="image" src="#" alt="img-theme">
            </div>
          </div>
        </div>

        <div class="soc">
          <div class="comments float-left">
            <a href="#">1 комментарий</a>
          </div>
          <div class="like float-right">
            1 лайк
          </div>
        </div>
      </div>
      <div class="col-3 ml-auto">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">
            Список
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            Список
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            Список
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            Список
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
